/* Main CSS */

body {
    font-family: system-ui;
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

footer {
    font-family: sans-serif;
    color: #ed590f;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; */
}

header {
    /* padding-top: 1%; */
    /* padding-right: 3%; */
    z-index: 2;
    margin-right: 3%;
    font-size: medium;
    font-size: 20px;
}

/* Accordion */

.btn {
    color: #ed590f;
    border-color: #ed590f;
    background-color: white;
}

.btn:hover {
    background-color: #ed590f;
    color: white;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #ed590f;
    border-color: #ed590f;
}

.accordion-button:focus {
    border-color: #ed590f;
    box-shadow: 0 0 0 0.25rem rgb(237, 89, 15, 0.35);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion {
    margin-left: 3%;
    margin-right: 2%;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ed590f'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.width100 {
    width: 100%;
}

/* Logo and navbar */

.logo {
    height: 100px;
    width: 100px;
}

.nav-link {
    text-decoration: none;
    color: #ed590f;
}

.nav-item :hover {
    color: rgb(247, 127, 7);
    font-weight: bold;
}

.form-control {
    border-color: #ed590f;
    border-radius: 15px;
}

.form-outline {
    width: 50%;
}

/* Carousel */

.carousel {
    border-radius: 15px;
    overflow: hidden;
    margin-right: 2%;
}

.carousel-image {
    width: 100%;
    height: 300px;
}

.custommainnav {
    padding-top: 0;
    padding-bottom: 0;
}

.customnav {
    padding-top: 0;
    padding-bottom: 0;
}

#carouselExampleFade {
    justify-content: center;
    margin-top: 1%;
    margin-left: 3%;
}

.card {
    padding: 1.5%;
    color: black;
    border: none;
}

.card-grid {
    padding: 1%;
    box-shadow: 20%;
    width: 50%;
}

.card-icon {
    font-size: 250%;
}

.card-link {
    text-decoration: none;
}

.card-text {
    color: #ed590f;
}

.card-title {
    color: #ed590f;
}

.horizontal-line {
    color: darkgrey;
    margin-left: 0.5%;
    margin-right: 1.5%;
    margin-top: 3%;
    margin-bottom: 1%;
}

.navbar-brand {
    display: flex;
    /* position: absolute;    */
}

.navbar-header {
    padding-top: 0%;
    background-image: url("../public/images/logo.jpg");
    background-repeat: no-repeat;
    width: 250px;
    height: 60px;
    margin-bottom: 10px;
    background-position: center;
    margin-left: -35px;
}

.navbar-brand img {
    vertical-align: top;
    /* padding: 10px; */

}

.navbar-toggle-color {
    color: #ed590f;
}

.customdropdown {
    padding-left: 27px;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

/* Sidebar */

.sidebar-div {
    margin-bottom: 20px;
}

.sidebar {
    margin-top: 8px;
    margin-left: 6px;
    margin-right: 3px;
    padding: 0;
    width: 96%;
    border: 5px;
    border-radius: 15px;
    background-color: #f2f2f2;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.sidebar a.active {
    background-color: #ed590f;
    color: black;
}

.sidebar a:hover:not(.active) {
    background-color: rgb(237, 89, 15, 0.55);
    color: black;
}

.card-icon {
    padding-right: 5px;
}

.popular-property {
    color: #ed590f;
    margin: auto;
    text-align: center;
}